<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{items}">
    <div class="aqg-history-table-wrap">
        <table class="aqg-history-table{f:if(condition: compactPageHistory, then: ' aqg-history-table--page-detail')}">
            <thead>
                <tr>
                    <th><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:remote.history.finished" default="Finished" /></th>
                    <f:if condition="{compactPageHistory}">
                        <f:then></f:then>
                        <f:else>
                            <th><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:remote.history.scope" default="Scope" /></th>
                            <th><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:remote.history.urlOrSite" default="URL / Site" /></th>
                            <th><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:remote.history.pagesScanned" default="Pages scanned" /></th>
                        </f:else>
                    </f:if>
                    <th><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:remote.history.findings" default="Findings" /></th>
                    <th><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:remote.history.score" default="Score" /></th>
                    <th><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:remote.history.impact" default="Impact" /></th>
                    <th><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:severity.critical" default="Critical" /></th>
                    <th><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:module.remotePageDetail.impact.serious" default="Serious" /></th>
                    <th><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:module.remotePageDetail.impact.moderate" default="Moderate" /></th>
                    <th><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.table.actions" default="Actions" /></th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{items}" as="item">
                    <f:variable name="jobLabel"><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:remote.history.job" default="Job" /></f:variable>
                    <tr>
                        <td title="{jobLabel}: {item.jobId}">{item.finishedAtFormatted}<br /><span class="aqg-history-table__job">{jobLabel}: {item.jobIdShort}</span></td>
                        <f:if condition="{compactPageHistory}">
                            <f:then></f:then>
                            <f:else>
                                <td>{item.sourceTypeLabel}</td>
                                <td class="aqg-history-table__url">{item.urlLabel}</td>
                                <td>{item.pagesScanned}</td>
                            </f:else>
                        </f:if>
                        <td>{item.issuesTotal}</td>
                        <td>{item.scoreLabel}</td>
                        <td>{item.overallImpact}</td>
                        <td>{item.critical}</td>
                        <td>{item.serious}</td>
                        <td>{item.moderate}</td>
                        <td class="aqg-history-table__actions">
                            <f:if condition="{item.viewReportUrl}">
                                <f:then>
                                    <a href="{item.viewReportUrl}" class="btn btn-sm btn-default" title="{jobLabel}: {item.jobId}"><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:remote.history.viewReport" default="View report" /></a>
                                </f:then>
                                <f:else>
                                    <span class="aqg-history-table__muted" title="{jobLabel}: {item.jobId}"><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:remote.history.notAvailable" default="Not available in TYPO3" /></span>
                                </f:else>
                            </f:if>
                            <f:if condition="{item.compareUrl}">
                                <f:then>
                                    <a href="{item.compareUrl}" class="btn btn-sm btn-default"><f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:remote.history.compare" default="Compare with previous compatible scan" /></a>
                                </f:then>
                                <f:else>
                                    <span class="aqg-history-table__muted">{item.compareLabel}</span>
                                </f:else>
                            </f:if>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>
</f:if>
</html>
