<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        data-namespace-typo3-fluid="true"
>
<f:if condition="{show}">
    <div class="btn-group aqg-export-menu">
        <button
                type="button"
                class="btn btn-default btn-sm dropdown-toggle d-inline-flex align-items-center gap-1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
        >
            <core:icon identifier="actions-download" size="small" />
            <span>
                <f:translate
                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:action.export"
                        default="Export"
                />
            </span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end aqg-export-menu__menu">
            <f:if condition="{csvUrl}">
                <li>
                    <a href="{csvUrl}" class="dropdown-item aqg-export-menu__item">
                        <core:icon identifier="actions-download" size="small" />
                        <span>
                            <f:translate
                                    key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:action.exportCsv"
                                    default="Export CSV"
                            />
                        </span>
                    </a>
                </li>
            </f:if>

            <f:if condition="{showPdf} && {pdfUrl}">
                <li>
                    <a href="{pdfUrl}" class="dropdown-item aqg-export-menu__item">
                        <core:icon identifier="actions-download" size="small" />
                        <span>
                            <f:translate
                                    key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:action.exportPdf"
                                    default="Export PDF"
                            />
                        </span>
                    </a>
                </li>
            </f:if>
        </ul>
    </div>
</f:if>
</html>
