<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        data-namespace-typo3-fluid="true"
>
<f:layout name="Module" />

<f:section name="Content">
    <div
            class="a11y-overview aqg-module aqg-stack container-fluid"
            data-a11y-site-identifier="{siteIdentifier}"
            data-a11y-current-page-uid="{currentPageUid}"
        data-a11y-language-uid="{currentLanguageUid}"
    >

        <header class="aqg-page-head aqg-page-head--with-language">
            <div>
            <h2 class="aqg-page-head__title">
                <f:translate
                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:module.overview.title"
                        default="Accessibility overview"
                />
            </h2>
            <p class="aqg-page-head__sub">
                <f:translate
                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:module.overview.description"
                        default="Review the latest scan results and open page-level issue summaries."
                />
            </p>
            </div>

            <f:if condition="{hasLanguageOptions}">
                <div class="aqg-page-head__language">
                    <f:if condition="{languageOptionCount} > 1">
                        <f:then>
                            <f:render partial="Shared/LanguageSwitcher" arguments="{_all}" />
                        </f:then>
                        <f:else>
                            <div class="aqg-lang aqg-lang--single">
                                <div class="aqg-lang__readonly" title="{currentLanguageOption.title} {currentLanguageOption.locale}">
                                    <f:if condition="{currentLanguageOption.flagIdentifier}">
                                        <span class="aqg-lang__flag" aria-hidden="true">
                                            <core:icon identifier="{currentLanguageOption.flagIdentifier}" size="small" />
                                        </span>
                                    </f:if>
                                    <span>{currentLanguageOption.title}</span>
                                    <f:if condition="{currentLanguageOption.locale}">
                                        <span class="aqg-lang__locale">{currentLanguageOption.locale}</span>
                                    </f:if>
                                </div>
                            </div>
                        </f:else>
                    </f:if>
                    <div class="aqg-lang__context">
                        Active · {currentLanguageOption.title}
                        <f:if condition="{currentLanguageOption.hasResults}">
                            · {currentLanguageOption.pageLabel}
                        </f:if>
                    </div>
                </div>
            </f:if>

        </header>

        <f:if condition="!{hasPageContext}">
            <f:then>
                <f:render partial="Shared/ModuleEmptyState" arguments="{emptyState: emptyState}" />
            </f:then>
            <f:else>
        <f:if condition="!{hasEnabledFields}">
            <div class="aqg-notice aqg-tone-warning" role="status">
                <span class="aqg-notice__icon" aria-hidden="true">
                    <f:render partial="Overview/Icon" arguments="{name: 'warning'}" />
                </span>
                <div class="aqg-notice__body">
                <strong class="aqg-notice__title">
                    <f:translate
                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.notice.settingsRequired.title"
                            default="Scanner fields are not configured yet."
                    />
                </strong>
                <div class="aqg-notice__text">
                    <f:translate
                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.notice.settingsRequired.text"
                            default="Open Settings, choose which fields should be scanned, save your changes, and then start the first scan."
                    />
                </div>
                </div>
                <div class="aqg-notice__actions">
                    <a href="{settingsUrl}" class="btn btn-primary btn-sm">
                        <f:translate
                                key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:settings.title"
                                default="Open settings"
                        />
                    </a>
                </div>
            </div>
        </f:if>

        <div class="aqg-stack aqg-scan-progress-stack" data-a11y-scan-progress-stack="true">
            <f:render
                    partial="Shared/RemoteScanProgress"
                    arguments="{
                        activeRemoteScan: activeRemoteScan
                    }"
            />

            <f:render
                    partial="Shared/LocalScanProgress"
                    arguments="{
                        isRunning: isRelevantLocalScanRunning,
                        scanStatus: scanStatus
                    }"
            />
        </div>

        <f:if condition="{remoteUiAvailable}">
            <f:render
                    partial="Overview/SourceTabs"
                    arguments="{
                        remoteScan: remoteScan
                    }"
            />
        </f:if>

        <div class="a11y-overview-panel" data-a11y-overview-panel="local">
            <f:render
                    partial="Overview/LocalPanel"
                    arguments="{
                        lastScan: lastScan,
                        totalCounts: totalCounts,
                        localNewCounts: localNewCounts,
                        localScanDelta: localScanDelta,
                        pageStats: pageStats,
                        totalLocalPages: totalLocalPages,
                        localPagination: localPagination,
                        localPaginationItems: localPaginationItems,
                        localQuery: localQuery,
                        remoteQuery: remoteQuery,
                        remoteFailedQuery: remoteFailedQuery,
                        remotePagination: remotePagination,
                        remoteFailedPagination: remoteFailedPagination,
                        canScanAll: canScanAll,
                        siteRootPid: siteRootPid,
                        currentPageUid: currentPageUid,
                        isPageContext: isPageContext,
                        currentPageHasIssues: currentPageHasIssues,
                        currentPageDetailUrl: currentPageDetailUrl,
                        scanStatus: scanStatus,
                        isRelevantLocalScanRunning: isRelevantLocalScanRunning,
                        exportLocalCsvUrl: exportLocalCsvUrl,
                        exportLocalPdfUrl: exportLocalPdfUrl,
                        proStatus: proStatus,
                        siteIdentifier: siteIdentifier,
                        currentLanguageUid: currentLanguageUid,
                        languageOptions: languageOptions
                    }"
            />
        </div>

        <f:if condition="{remoteUiAvailable}">
            <div
                    class="a11y-overview-panel"
                    data-a11y-overview-panel="remote"
                    hidden="hidden"
            >
                <f:render
                        partial="Overview/RemotePanel"
                        arguments="{
                            remoteScan: remoteScan,
                            remotePages: remotePages,
                            remoteFailedPages: remoteFailedPages,
                            remotePriorityFixes: remotePriorityFixes,
                            remotePriorityFixesVisible: remotePriorityFixesVisible,
                            remotePriorityFixesMoreCount: remotePriorityFixesMoreCount,
                            remoteWcagSummary: remoteWcagSummary,
                            remoteReportSummary: remoteReportSummary,
                            remoteScore: remoteScore,
                            remoteSignalTone: remoteSignalTone,
                            remoteSignalLabel: remoteSignalLabel,
                            remoteScoreTone: remoteScoreTone,
                            remoteSignalIcon: remoteSignalIcon,
                            remoteHasPriorityFixes: remoteHasPriorityFixes,
                            remoteHasNoPriorityFixes: remoteHasNoPriorityFixes,
                            remoteManualReviewChecklist: remoteManualReviewChecklist,
                            remoteReportingGroups: remoteReportingGroups,
                            remoteKeyboardSummary: remoteKeyboardSummary,
                            remoteShowKeyboardSummary: remoteShowKeyboardSummary,
                            remoteStructureSummary: remoteStructureSummary,
                            remoteContrastDetails: remoteContrastDetails,
                            remoteHasAdditionalAutomatedSignals: remoteHasAdditionalAutomatedSignals,
                            remoteScanHasIssues: remoteScanHasIssues,
                            totalRemotePages: totalRemotePages,
                            totalRemotePagesIsSingle: totalRemotePagesIsSingle,
                            totalRemoteFailedPages: totalRemoteFailedPages,
                            remotePagination: remotePagination,
                            remotePaginationItems: remotePaginationItems,
                            remoteFailedPagination: remoteFailedPagination,
                            remoteFailedPaginationItems: remoteFailedPaginationItems,
                            localPagination: localPagination,
                            localQuery: localQuery,
                            remoteQuery: remoteQuery,
                            remoteFailedQuery: remoteFailedQuery,
                            canScanAll: canScanAll,
                            siteRootPid: siteRootPid,
                            currentPageUid: currentPageUid,
                            isPageContext: isPageContext,
                            currentPageUrl: currentPageUrl,
                            siteIdentifier: siteIdentifier,
                            exportRemoteCsvUrl: exportRemoteCsvUrl,
                            exportRemotePdfUrl: exportRemotePdfUrl,
                            proStatus: proStatus,
                            currentLanguageUid: currentLanguageUid,
                            languageOptions: languageOptions,
                            showRemoteScannerTokenNotice: showRemoteScannerTokenNotice,
                            remoteScanAccessSettingsUrl: remoteScanAccessSettingsUrl
                        }"
                />
            </div>
        </f:if>

        <f:if condition="{proStatus.showProHints} &amp;&amp; !{remoteUiAvailable}">
            <f:render
                    partial="Overview/ProHint"
                    arguments="{proStatus: proStatus, settingsUrl: settingsUrl}"
            />
        </f:if>
            </f:else>
        </f:if>

    </div>
</f:section>
</html>
