<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
        bootstrap="../../vendor/typo3/testing-framework/Resources/Core/Build/FunctionalTestsBootstrap.php"
        cacheDirectory="../../.cache/phpunit"
        executionOrder="depends,defects"
        requireCoverageMetadata="false"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="functional">
            <directory>Tests/Functional</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">Classes</directory>
        </include>
        <exclude>
            <file>Classes/Scheduler/A11yScanTask.php</file>
        </exclude>
    </source>

    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="display_errors" value="1"/>

        <server name="TYPO3_PATH_APP" value="/var/www/html"/>
        <server name="TYPO3_PATH_ROOT" value="/var/www/html"/>
        <server name="TYPO3_PATH_WEB" value="/var/www/html"/>

        <env name="TYPO3_ACTIVE_FRAMEWORK" value="Functional"/>

        <env name="typo3DatabaseDriver" value="mysqli"/>
        <env name="typo3DatabaseHost" value="db"/>
        <env name="typo3DatabasePort" value="3306"/>
        <env name="typo3DatabaseName" value="db"/>
        <env name="typo3DatabaseUsername" value="root"/>
        <env name="typo3DatabasePassword" value="root"/>
        <env name="typo3DatabaseCharset" value="utf8mb4"/>
    </php>
</phpunit>