<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true"
>
<span
        data-a11y-toolbar-data="true"
        data-a11y-running="{f:if(condition: toolbarRunning, then: '1', else: '0')}"
        data-a11y-state="{toolbarState.state}"
        data-a11y-tone="{toolbarState.tone}"
        data-a11y-count="{toolbarState.count}"
        data-a11y-label="{toolbarAriaLabel}"
></span>

<div class="aqt-pop" role="region" aria-label="Accessibility Quality toolbar summary">
    <p class="dropdown-headline aqt-pop__title">
        <f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:toolbar.title" />
    </p>
    <div class="dropdown-item-text aqt-pop__title-sub">
        <f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:toolbar.summary" default="Current scan health snapshot" />
    </div>

    <ul class="dropdown-list aqt-card-list">
        <li>
            <f:render partial="ToolbarItems/ScanCard" arguments="{card: localToolbarCard}" />
        </li>
        <f:if condition="{showRemoteSection}">
            <li>
                <f:render partial="ToolbarItems/ScanCard" arguments="{card: remoteToolbarCard}" />
            </li>
        </f:if>
    </ul>

    <hr class="dropdown-divider" aria-hidden="true">

    <div class="dropdown-item-text aqt-pop__foot">
        <a href="{moduleUrl}" class="btn btn-sm btn-default aqt-pop__button aqt-pop__button--primary">
            <span>
                <f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:toolbar.openModule" />
            </span>
            <span class="aqt-pop__button-icon" aria-hidden="true">↗</span>
        </a>
        <span class="aqt-pop__foot-meta">
            <f:if condition="{toolbarFootnote}">
                <f:then>{toolbarFootnote}</f:then>
                <f:else>
                    <f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:toolbar.synced" default="Updated now" />
                </f:else>
            </f:if>
        </span>
    </div>
</div>
</html>
