<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        data-namespace-typo3-fluid="true"
>
<span
        data-a11y-toolbar-data="true"
        data-a11y-running="{f:if(condition: scanStatus.running, then: '1', else: '0')}"
></span>

<p class="h3 dropdown-headline mb-3">
    <f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:toolbar.title" />
</p>

<f:if condition="{toolbarInformation}">
    <table class="dropdown-table">
        <caption class="visually-hidden">
            <f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:toolbar.title" />
        </caption>

        <f:for each="{toolbarInformation}" as="info">
            <tr>
                <th data-type="title">
                    <f:if condition="{info.iconIdentifier}">
                        <f:then>
                            <core:icon identifier="{info.iconIdentifier}" size="small" alternativeMarkupIdentifier="inline" />
                        </f:then>
                        <f:else>
                            <core:icon identifier="empty-empty" size="small" alternativeMarkupIdentifier="inline" />
                        </f:else>
                    </f:if>

                    <f:translate key="{info.title}" default="{info.title}" />
                </th>
                <td data-type="value">
                    <f:translate key="{info.value}" default="{info.value}" />
                </td>
            </tr>
        </f:for>
    </table>
</f:if>

<div class="mt-3 mb-1 p-2">
    <div class="d-flex gap-2">
        <a href="/typo3/module/web/a11y" class="btn btn-default btn-sm flex-fill text-center">
            <f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:toolbar.openModule" />
        </a>
    </div>
</div>
</html>