<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true"
>
<f:layout name="Module" />

<f:section name="Content">
    <f:asset.css identifier="a11y-quality-gate-backend" href="EXT:a11y_quality_gate/Resources/Public/Css/backend.css" />
    <f:flashMessages queueIdentifier="core.template.flashMessages" />
    <div class="a11y-settings aqg-module aqg-stack">
        <div class="aqg-page-head">
            <div>
                <h2 class="aqg-page-head__title">
                <f:translate
                        key="settings.title"
                        extensionName="A11yQualityGate"
                        default="Settings"
                />
            </h2>
                <p class="aqg-page-head__sub">
                <f:translate
                        key="settings.pageDescription"
                        extensionName="A11yQualityGate"
                        default="Choose what AQG should scan and how it should react during publishing."
                />
            </p>
            </div>
            <f:if condition="{settingsLastSavedLabel}">
                <div class="aqg-page-head__meta">
                    <span>Last saved</span>
                    <span>{settingsLastSavedLabel}</span>
                </div>
            </f:if>
        </div>

        <f:render partial="Settings/Tabs" arguments="{_all}" />

        <div class="aqg-settings-content">
            <f:switch expression="{activeTab}">
                <f:case value="licence">
                    <f:render partial="Settings/TabLicence" arguments="{_all}" />
                </f:case>

                <f:case value="fields">
                    <f:render partial="Settings/TabScanFields" arguments="{_all}" />
                </f:case>

                <f:case value="gate">
                    <f:render partial="Settings/TabQualityGate" arguments="{_all}" />
                </f:case>

                <f:case value="rules">
                    <f:render partial="Settings/TabRules" arguments="{_all}" />
                </f:case>

                <f:case value="remote_access">
                    <f:render partial="Settings/TabRemoteScanAccess" arguments="{_all}" />
                </f:case>

                <f:case value="ai">
                    <f:if condition="{isAdmin}">
                        <f:then>
                            <f:render partial="Settings/TabAi" arguments="{_all}" />
                        </f:then>
                        <f:else>
                            <f:render partial="Settings/TabLicence" arguments="{_all}" />
                        </f:else>
                    </f:if>
                </f:case>

                <f:case value="statement">
                    <f:render partial="Settings/TabStatement" arguments="{_all}" />
                </f:case>

                <f:defaultCase>
                    <f:render partial="Settings/TabLicence" arguments="{_all}" />
                </f:defaultCase>
            </f:switch>
        </div>
    </div>
</f:section>
</html>