<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true"
>
<f:layout name="Module" />

<f:section name="Content">
    <div class="a11y-settings container-fluid">
        <div class="mb-4">
            <h2 class="mb-1">
                <f:translate
                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:settings.title"
                        default="Settings"
                />
            </h2>
            <p class="text-muted mb-0">
                <f:translate
                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:settings.pageDescription"
                        default="Choose what AQG should scan and how it should react during publishing."
                />
            </p>
        </div>

        <f:render partial="Settings/Tabs" arguments="{_all}" />

        <div class="mt-4">
            <f:switch expression="{activeTab}">
                <f:case value="licence">
                    <f:render partial="Settings/TabLicence" arguments="{_all}" />
                </f:case>

                <f:case value="fields">
                    <f:render partial="Settings/TabScanFields" arguments="{_all}" />
                </f:case>

                <f:case value="gate">
                    <f:render partial="Settings/TabQualityGate" arguments="{_all}" />
                </f:case>

                <f:case value="rules">
                    <f:render partial="Settings/TabRules" arguments="{_all}" />
                </f:case>

                <f:defaultCase>
                    <f:render partial="Settings/TabLicence" arguments="{_all}" />
                </f:defaultCase>
            </f:switch>
        </div>
    </div>
</f:section>
</html>