<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="aqg-section aqg-section--scan">
    <div class="aqg-section__head">
        <div>
            <h2 class="aqg-section__title">
                <f:translate
                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.source.local"
                        default="Content scan"
                />
            </h2>
            <p class="aqg-section__sub">
                <f:translate
                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.localActions.description"
                        default="Scan the configured TYPO3 content fields."
                />
            </p>
        </div>

        <div class="aqg-section__actions">
            <f:if condition="{currentPageHasIssues} && {currentPageDetailUrl}">
                <a href="{currentPageDetailUrl}" class="btn btn-default btn-sm">
                    <f:translate
                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:action.viewIssues"
                            default="View issues"
                    />
                </a>
            </f:if>

            <f:if condition="{currentPageUid}">
                <button
                        type="button"
                        class="btn btn-default btn-sm"
                        data-action="a11y-rescan"
                        data-page-uid="{currentPageUid}"
                        data-language-uid="{currentLanguageUid}"
                        data-loading-text="{f:translate(key: 'LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:action.scanning', default: 'Scanning...')}"
                        {f:if(condition: scanStatus.running, then: 'disabled="disabled"')}
                >
                <f:translate
                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:action.scanNow"
                        default="Scan this page"
                />
                </button>
            </f:if>

            <f:if condition="{canScanAll}">
                <button
                        type="button"
                        class="btn btn-primary btn-sm"
                        data-action="a11y-scan-all"
                        data-root-pid="{siteRootPid}"
                        data-language-uid="{currentLanguageUid}"
                        data-loading-text="{f:translate(key: 'LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:action.scanning', default: 'Scanning...')}"
                        {f:if(condition: scanStatus.running, then: 'disabled="disabled"')}
                >
                <f:translate
                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:action.scanAll"
                        default="Scan site"
                />
                </button>
            </f:if>
        </div>
    </div>

    <div class="aqg-section__body">
        <div data-a11y-local-scan-static="true" class="{f:if(condition: isRelevantLocalScanRunning, then: 'd-none', else: '')}">
                <f:if condition="{lastScan}">
                    <f:then>
                        <div class="aqg-section__meta-row">
                    <div class="aqg-meta-item">
                        <span class="aqg-meta-item__label">
                            <f:translate
                                    key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.lastScan.label"
                                    default="Last scan"
                            />
                        </span>
                        <span class="aqg-meta-item__value">{lastScan.finished_at -> f:format.date(format: 'd.m.Y H:i')}</span>
                    </div>
                    <div class="aqg-meta-item">
                        <span class="aqg-meta-item__label">
                            <f:translate
                                    key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.lastScan.pages"
                                    default="Pages"
                            />
                        </span>
                        <span class="aqg-meta-item__value">{lastScan.pages_scanned}</span>
                    </div>
                    <div class="aqg-meta-item">
                        <span class="aqg-meta-item__label">
                            <f:translate
                                    key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.lastScan.newIssues"
                                    default="New issues"
                            />
                        </span>
                        <span class="aqg-meta-item__value">+{lastScan.issues_new}</span>
                    </div>
                    <div class="aqg-meta-item">
                        <span class="aqg-meta-item__label">
                            <f:translate
                                    key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.lastScan.resolvedIssues"
                                    default="Resolved"
                            />
                        </span>
                        <span class="aqg-meta-item__value">-{lastScan.issues_resolved}</span>
                    </div>
                </div>
                    </f:then>
                    <f:else>
                        <div class="aqg-empty aqg-empty--compact">
                    <div class="aqg-empty__icon" aria-hidden="true">
                        <f:render partial="Overview/Icon" arguments="{name: 'empty'}" />
                    </div>
                    <div>
                        <div class="aqg-empty__title">
                            <f:translate
                                    key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.noScanYet.title"
                                    default="No scan on record"
                            />
                        </div>
                        <div class="aqg-empty__body">
                            <f:translate
                                    key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.noScanYet.text"
                                    default="Run a content scan to check this page tree for accessibility issues."
                            />
                        </div>
                    </div>
                </div>
                    </f:else>
                </f:if>
        </div>
    </div>
</section>
</html>
