<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="card mt-4">
    <div class="card-body">
        <div class="fw-semibold mb-1">
            <f:translate
                    key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proHint.title"
                    default="Need frontend crawling?"
            />
        </div>
        <div class="text-muted small mb-0">
            <f:translate
                    key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proHint.text"
                    default="AQG PRO adds remote crawler scans for frontend pages and advanced reporting."
            />
        </div>
    </div>
</div>
</html>