<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true"
>
<div class="aqg-panel-stack">
    <f:if condition="{showRemoteScannerTokenNotice}">
        <f:render
                partial="Overview/RemoteScannerTokenNotice"
                arguments="{settingsUrl: remoteScanAccessSettingsUrl}"
        />
    </f:if>

    <f:render
            partial="Overview/RemoteActions"
            arguments="{
                remoteScan: remoteScan,
                canScanAll: canScanAll,
                siteRootPid: siteRootPid,
                currentPageUid: currentPageUid,
                currentPageUrl: currentPageUrl,
                siteIdentifier: siteIdentifier,
                currentLanguageUid: currentLanguageUid,
                proStatus: proStatus
            }"
    />

    <f:if condition="{remoteScan}">
        <div class="aqg-stats">
            <div class="aqg-stat aqg-stat--neutral {f:if(condition: remoteScan.pages_scanned, then: '', else: 'is-zero')}">
                <div class="aqg-stat__head">
                    <f:translate
                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.pagesScanned"
                            default="Pages scanned"
                    />
                </div>
                <div class="aqg-stat__value" id="a11y-pro-pages-scanned">{remoteScan.pages_scanned}</div>
                <div class="aqg-stat__delta">
                    <span class="aqg-stat__delta-change aqg-stat__delta-change--flat">· <f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.stats.acrossPages" default="across" /> {totalRemotePages} <f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.pages" default="pages" /></span>
                </div>
            </div>

            <div class="aqg-stat aqg-stat--critical {f:if(condition: remoteScan.issues_total, then: '', else: 'is-zero')}">
                <div class="aqg-stat__head">
                    <f:translate
                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.issuesTotal"
                            default="Total issues"
                    />
                </div>
                <div class="aqg-stat__value" id="a11y-pro-issues-total">{remoteScan.issues_total}</div>
                <div class="aqg-stat__delta">
                    <f:if condition="{remoteScan.issues_new} > 0">
                        <f:then>
                            <span class="aqg-stat__delta-change aqg-stat__delta-change--up">▲ +{remoteScan.issues_new} <f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.stats.sinceLastScan" default="since last scan" /></span>
                        </f:then>
                        <f:else>
                            <span class="aqg-stat__delta-change aqg-stat__delta-change--flat">· ±0 <f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.stats.sinceLastScan" default="since last scan" /></span>
                        </f:else>
                    </f:if>
                </div>
            </div>

            <div class="aqg-stat aqg-stat--warning {f:if(condition: remoteScan.pages_failed, then: '', else: 'is-zero')}">
                <div class="aqg-stat__head">
                    <f:translate
                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.pagesFailed"
                            default="Failed pages"
                    />
                </div>
                <div class="aqg-stat__value" id="a11y-pro-pages-failed">{remoteScan.pages_failed}</div>
                <div class="aqg-stat__delta">
                    <span class="aqg-stat__delta-change aqg-stat__delta-change--flat">· ±0 <f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.stats.sinceLastScan" default="since last scan" /></span>
                </div>
            </div>

            <div class="aqg-stat aqg-stat--ok {f:if(condition: remoteScan.issues_resolved, then: '', else: 'is-zero')}">
                <div class="aqg-stat__head">
                    <f:translate
                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.issuesResolved"
                            default="Resolved since last scan"
                    />
                </div>
                <div class="aqg-stat__value" id="a11y-pro-issues-resolved">{remoteScan.issues_resolved}</div>
                <div class="aqg-stat__delta">
                    <f:if condition="{remoteScan.issues_resolved} > 0">
                        <f:then>
                            <span class="aqg-stat__delta-change aqg-stat__delta-change--down">▼ -{remoteScan.issues_resolved} <f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.stats.sinceLastScan" default="since last scan" /></span>
                        </f:then>
                        <f:else>
                            <span class="aqg-stat__delta-change aqg-stat__delta-change--flat">· ±0 <f:translate key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.stats.sinceLastScan" default="since last scan" /></span>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
    </f:if>

    <section class="aqg-section">
        <div class="aqg-toolbar-row">
            <div class="aqg-toolbar-row__left">
                <div class="aqg-toolbar-row__title">
                    <f:translate
                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.topPages"
                            default="Top affected pages"
                    />
                </div>
                <div class="aqg-toolbar-row__sub">
                    <span>
                        <f:translate
                                key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.localTable.sortedHint"
                                default="Sorted by severity"
                        />
                    </span>
                    <span>·</span>
                    <span>
                        {totalRemotePages}
                        <f:translate
                                key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.pages"
                                default="pages"
                        />
                    </span>
                    <f:if condition="{remotePagination.totalPages} > 1">
                        <span>·</span>
                        <span>
                            <f:translate
                                    key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:pageDetail.pagination.page"
                                    default="Page"
                            />
                            {remotePagination.currentPage}/{remotePagination.totalPages}
                        </span>
                    </f:if>
                </div>
            </div>

            <div class="a11y-overview-header-tools aqg-toolbar-row__right">
                <form method="get" role="search" class="mb-0 a11y-overview-search-form">
                    <f:if condition="{currentPageUid} > 0">
                        <f:then>
                            <input type="hidden" name="id" value="{currentPageUid}" />
                        </f:then>
                        <f:else>
                            <input type="hidden" name="id" value="{siteRootPid}" />
                        </f:else>
                    </f:if>

                    <f:if condition="{siteIdentifier}">
                        <input type="hidden" name="site" value="{siteIdentifier}" />
                    </f:if>

                    <f:if condition="{localPagination.currentPage} > 1">
                        <input type="hidden" name="localPage" value="{localPagination.currentPage}" />
                    </f:if>

                    <f:if condition="{remoteFailedPagination.currentPage} > 1">
                        <input type="hidden" name="remoteFailedPage" value="{remoteFailedPagination.currentPage}" />
                    </f:if>

                    <f:if condition="{localQuery}">
                        <input type="hidden" name="localQuery" value="{localQuery}" />
                    </f:if>

                    <f:if condition="{remoteFailedQuery}">
                        <input type="hidden" name="remoteFailedQuery" value="{remoteFailedQuery}" />
                    </f:if>

                    <label class="visually-hidden" for="a11y-overview-search-remote">
                        <f:translate
                                key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.search.label"
                                default="Search pages"
                        />
                    </label>

                    <input
                            type="search"
                            id="a11y-overview-search-remote"
                            name="remoteQuery"
                            value="{remoteQuery}"
                            class="form-control form-control-sm"
                            placeholder="{f:translate(key: 'LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.search.placeholder', default: 'Search pages')}"
                            data-a11y-overview-search="true"
                            data-a11y-search-mode="server"
                            autocomplete="off"
                    />
                </form>

                <f:render
                        partial="Shared/ExportButtons"
                        arguments="{
                            show: exportRemoteCsvUrl,
                            csvUrl: exportRemoteCsvUrl,
                            pdfUrl: exportRemotePdfUrl,
                            showPdf: proStatus.hasExportPdf
                        }"
                />
            </div>
        </div>

        <div>
            <f:if condition="{remotePages}">
                <f:then>
                    <div class="aqg-table-wrap">
                        <table class="aqg-table">
                            <thead>
                            <tr>
                                <th scope="col">
                                    <f:translate
                                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.table.page"
                                            default="Page"
                                    />
                                </th>
                                <th scope="col" class="num">
                                    <f:translate
                                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.table.issues"
                                            default="Issues"
                                    />
                                </th>
                                <th scope="col" class="num">
                                    <f:translate
                                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.table.httpStatus"
                                            default="HTTP"
                                    />
                                </th>
                                <th scope="col" class="actions">
                                    <f:translate
                                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.table.actions"
                                            default="Actions"
                                    />
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <f:for each="{remotePages}" as="page">
                                <tr
                                        data-a11y-page-row="true"
                                        data-a11y-page-title="{page.title}"
                                        data-a11y-page-url="{page.url}"
                                >
                                    <td>
                                        <div class="aqg-page-cell">
                                            <div class="aqg-page-cell__title">
                                                <a href="{page.detailUrl}">
                                                    <f:if condition="{page.title}">
                                                        <f:then>{page.title}</f:then>
                                                        <f:else>—</f:else>
                                                    </f:if>
                                                </a>
                                            </div>
                                            <span class="aqg-page-cell__meta">{page.url}</span>
                                        </div>
                                    </td>

                                    <td class="num">
                                        <span class="aqg-count aqg-count--total">{page.issues_count}</span>
                                    </td>

                                    <td class="num">
                                        <span class="aqg-http">
                                            <f:if condition="{page.http_status}">
                                                <f:then>{page.http_status}</f:then>
                                                <f:else>—</f:else>
                                            </f:if>
                                        </span>
                                    </td>

                                    <td class="actions">
                                        <a href="{page.detailUrl}" class="aqg-action-link">
                                            <f:translate
                                                    key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:action.viewIssues"
                                                    default="View issues"
                                            />
                                        </a>
                                    </td>
                                </tr>
                            </f:for>
                            </tbody>
                        </table>
                    </div>

                    <f:if condition="{remotePagination.totalPages} > 1">
                        <div class="aqg-pagination">
                            <div class="aqg-pagination__info">
                                {remotePagination.totalItems}
                                <f:translate
                                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.pages"
                                        default="pages"
                                />
                            </div>

                            <nav aria-label="Remote pages pagination">
                                <ul class="pagination pagination-sm mb-0 aqg-pagination__nav">
                                    <li class="page-item {f:if(condition: remotePagination.hasPrevious, then: '', else: 'disabled')}">
                                        <a class="page-link" href="{f:if(condition: remotePagination.hasPrevious, then: remotePagination.previousUrl, else: '#')}">‹</a>
                                    </li>

                                    <f:for each="{remotePaginationItems}" as="item">
                                        <f:if condition="{item.type} == 'ellipsis'">
                                            <f:then>
                                                <li class="page-item disabled">
                                                    <span class="page-link">{item.label}</span>
                                                </li>
                                            </f:then>
                                            <f:else>
                                                <li class="page-item {f:if(condition: item.active, then: 'active', else: '')}">
                                                    <a class="page-link" href="{item.url}">{item.label}</a>
                                                </li>
                                            </f:else>
                                        </f:if>
                                    </f:for>

                                    <li class="page-item {f:if(condition: remotePagination.hasNext, then: '', else: 'disabled')}">
                                        <a class="page-link" href="{f:if(condition: remotePagination.hasNext, then: remotePagination.nextUrl, else: '#')}">›</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </f:if>
                </f:then>

                <f:else>
                    <f:if condition="{remoteQuery}">
                        <div class="aqg-empty">
                            <div class="aqg-empty__icon" aria-hidden="true">
                                <f:render partial="Overview/Icon" arguments="{name: 'empty'}" />
                            </div>
                            <div class="aqg-empty__title">
                                <f:translate
                                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.search.noResults"
                                        default="No matching pages found."
                                />
                            </div>
                            <div class="aqg-empty__body">
                                <f:translate
                                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.search.noResults.text"
                                        default="Try a shorter query, or clear the filter."
                                />
                            </div>
                        </div>
                    </f:if>
                    <f:if condition="!{remoteQuery}">
                        <div class="aqg-empty">
                            <div class="aqg-empty__icon" aria-hidden="true">
                                <f:render partial="Overview/Icon" arguments="{name: 'empty'}" />
                            </div>
                            <div class="aqg-empty__title">
                                <f:translate
                                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.empty.title"
                                        default="No frontend scan yet"
                                />
                            </div>
                            <div class="aqg-empty__body">
                                <f:translate
                                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.emptyPages"
                                        default="Run a frontend scan to load published page results."
                                />
                            </div>
                        </div>
                    </f:if>
                </f:else>
            </f:if>
        </div>
    </section>

    <f:if condition="{totalRemoteFailedPages} > 0 || {remoteFailedQuery}">
        <section class="aqg-section">
            <div class="aqg-toolbar-row">
                <div class="aqg-toolbar-row__left">
                    <div class="aqg-toolbar-row__title">
                        <f:translate
                                key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.failedPages"
                                default="Failed pages"
                        />
                    </div>
                    <div class="aqg-toolbar-row__sub">
                        <span>
                            {totalRemoteFailedPages}
                            <f:translate
                                    key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.pages"
                                    default="pages"
                            />
                        </span>
                        <f:if condition="{remoteFailedPagination.totalPages} > 1">
                            <span>·</span>
                            <span>
                                <f:translate
                                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:pageDetail.pagination.page"
                                        default="Page"
                                />
                                {remoteFailedPagination.currentPage}/{remoteFailedPagination.totalPages}
                            </span>
                        </f:if>
                    </div>
                </div>

                <div class="a11y-overview-header-tools aqg-toolbar-row__right">
                    <form method="get" role="search" class="mb-0 a11y-overview-search-form">
                        <f:if condition="{currentPageUid} > 0">
                            <f:then>
                                <input type="hidden" name="id" value="{currentPageUid}" />
                            </f:then>
                            <f:else>
                                <input type="hidden" name="id" value="{siteRootPid}" />
                            </f:else>
                        </f:if>

                        <f:if condition="{siteIdentifier}">
                            <input type="hidden" name="site" value="{siteIdentifier}" />
                        </f:if>

                        <f:if condition="{localPagination.currentPage} > 1">
                            <input type="hidden" name="localPage" value="{localPagination.currentPage}" />
                        </f:if>

                        <f:if condition="{remotePagination.currentPage} > 1">
                            <input type="hidden" name="remotePage" value="{remotePagination.currentPage}" />
                        </f:if>

                        <f:if condition="{localQuery}">
                            <input type="hidden" name="localQuery" value="{localQuery}" />
                        </f:if>

                        <f:if condition="{remoteQuery}">
                            <input type="hidden" name="remoteQuery" value="{remoteQuery}" />
                        </f:if>

                        <label class="visually-hidden" for="a11y-overview-search-remote-failed">
                            <f:translate
                                    key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.search.label"
                                    default="Search pages"
                            />
                        </label>

                        <input
                                type="search"
                                id="a11y-overview-search-remote-failed"
                                name="remoteFailedQuery"
                                value="{remoteFailedQuery}"
                                class="form-control form-control-sm"
                                placeholder="{f:translate(key: 'LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.search.placeholder', default: 'Search pages')}"
                                data-a11y-overview-search="true"
                                data-a11y-search-mode="server"
                                autocomplete="off"
                        />
                    </form>
                </div>
            </div>

            <div>
                <f:if condition="{remoteFailedPages}">
                    <f:then>
                        <div class="aqg-table-wrap">
                            <table class="aqg-table">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <f:translate
                                                key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.table.page"
                                                default="Page"
                                        />
                                    </th>
                                    <th scope="col" class="num">
                                        <f:translate
                                                key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.table.httpStatus"
                                                default="HTTP"
                                        />
                                    </th>
                                    <th scope="col">
                                        <f:translate
                                                key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.table.failureReason"
                                                default="Failure reason"
                                        />
                                    </th>
                                    <th scope="col" class="actions">
                                        <f:translate
                                                key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.table.actions"
                                                default="Actions"
                                        />
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <f:for each="{remoteFailedPages}" as="page">
                                    <tr
                                            data-a11y-page-row="true"
                                            data-a11y-page-title="{page.title}"
                                            data-a11y-page-url="{page.url}"
                                    >
                                        <td>
                                            <div class="aqg-page-cell">
                                                <div class="aqg-page-cell__title">
                                                    <a href="{page.detailUrl}">
                                                        <f:if condition="{page.title}">
                                                            <f:then>{page.title}</f:then>
                                                            <f:else>—</f:else>
                                                        </f:if>
                                                    </a>
                                                </div>
                                                <span class="aqg-page-cell__meta">{page.url}</span>
                                            </div>
                                        </td>

                                        <td class="num">
                                            <span class="aqg-http">
                                                <f:if condition="{page.http_status}">
                                                    <f:then>{page.http_status}</f:then>
                                                    <f:else>—</f:else>
                                                </f:if>
                                            </span>
                                        </td>

                                        <td class="aqg-table-muted text-break">
                                            <f:if condition="{page.failure_reason}">
                                                <f:then>{page.failure_reason}</f:then>
                                                <f:else>—</f:else>
                                            </f:if>
                                        </td>

                                        <td class="actions">
                                            <a href="{page.detailUrl}" class="aqg-action-link">
                                                <f:translate
                                                        key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:action.viewIssues"
                                                        default="View issues"
                                                />
                                            </a>
                                        </td>
                                    </tr>
                                </f:for>
                                </tbody>
                            </table>
                        </div>

                        <f:if condition="{remoteFailedPagination.totalPages} > 1">
                            <div class="aqg-pagination">
                                <div class="aqg-pagination__info">
                                    {remoteFailedPagination.totalItems}
                                    <f:translate
                                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.proSummary.pages"
                                            default="pages"
                                    />
                                </div>

                                <nav aria-label="Failed remote pages pagination">
                                    <ul class="pagination pagination-sm mb-0 aqg-pagination__nav">
                                        <li class="page-item {f:if(condition: remoteFailedPagination.hasPrevious, then: '', else: 'disabled')}">
                                            <a class="page-link" href="{f:if(condition: remoteFailedPagination.hasPrevious, then: remoteFailedPagination.previousUrl, else: '#')}">‹</a>
                                        </li>

                                        <f:for each="{remoteFailedPaginationItems}" as="item">
                                            <f:if condition="{item.type} == 'ellipsis'">
                                                <f:then>
                                                    <li class="page-item disabled">
                                                        <span class="page-link">{item.label}</span>
                                                    </li>
                                                </f:then>
                                                <f:else>
                                                    <li class="page-item {f:if(condition: item.active, then: 'active', else: '')}">
                                                        <a class="page-link" href="{item.url}">{item.label}</a>
                                                    </li>
                                                </f:else>
                                            </f:if>
                                        </f:for>

                                        <li class="page-item {f:if(condition: remoteFailedPagination.hasNext, then: '', else: 'disabled')}">
                                            <a class="page-link" href="{f:if(condition: remoteFailedPagination.hasNext, then: remoteFailedPagination.nextUrl, else: '#')}">›</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </f:if>
                    </f:then>

                    <f:else>
                        <f:if condition="{remoteFailedQuery}">
                            <div class="aqg-empty">
                                <div class="aqg-empty__icon" aria-hidden="true">
                                    <f:render partial="Overview/Icon" arguments="{name: 'empty'}" />
                                </div>
                                <div class="aqg-empty__title">
                                    <f:translate
                                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.search.noResults"
                                            default="No matching pages found."
                                    />
                                </div>
                                <div class="aqg-empty__body">
                                    <f:translate
                                            key="LLL:EXT:a11y_quality_gate/Resources/Private/Language/locallang.xlf:overview.search.noResults.text"
                                            default="Try a shorter query, or clear the filter."
                                    />
                                </div>
                            </div>
                        </f:if>
                    </f:else>
                </f:if>
            </div>
        </section>
    </f:if>
</div>
</html>
